@model BloodBank.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Start talking!</h3>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        @if (Model != null)
                        {
                            foreach (var message in Model.Messages)
                            {
                                if (message.OwnerName == User.Identity.Name)
                                {
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;@message.DateCreated</small>
                                                <strong class="pull-right primary-font">@User.Identity.Name</strong>
                                            </div>
                                            <p>
                                                @message.Content
                                            </p>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">@Model.OtherPerson</strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>@message.DateCreated
                                                </small>
                                            </div>
                                            <p>
                                                @message.Content
                                            </p>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    <form asp-controller="Conversations" asp-action="SendMessage">
                        <div class="input-group">
                            <input type="hidden" name="PostOwnerName" value="@Model.Conversation.PostOwnerName" />
                            <input type="hidden" name="ApplierName" value="@Model.Conversation.ApplierName" />
                            <input id="btn-input" type="text" name="Content" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <input type="submit" value="Send" class="btn btn-warning btn-sm" id="btn-chat">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>