@model IEnumerable<BloodBank.Models.CityPoints>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<BloodBankUser> _userManager
@inject SignInManager<BloodBankUser> _signInManager

@{
    ViewData["Title"] = "Index";
    var userName = User.Identity.Name;
}

<div class="price-sty position-relative mb-5">
    <h3 class="tittle text-center text-bl mb-2">Donation Points</h3>
    <span class="text-style-bot font-weight-bold">P</span>
    <p class="text-center mb-2">Click City to Show</p>
</div>

@if (_signInManager.IsSignedIn(User) && await _userManager.IsInRoleAsync(_userManager.GetUserAsync(User).Result, "admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-danger text-white" style="float: left;">Create New Donor Point</a>
    </p>
}

<a id="showMapButton" class="btn btn-danger text-white" style="position: relative; left: 2%;">Hide Map</a>

@(await Component.InvokeAsync("TurkeyMap"))

<br><br>

<section class="blog_w3ls py-5" id="blog">
    <div class="container py-xl-5 py-lg-3">
        <div class="row pt-3">
            <!-- blog grid -->
            @if (Model.Count() == 0 && ViewData["route-id"] != null)
            {
                <div class="col-lg-6 offset-lg-1 pr-lg-4 mt-lg-0 mt-4 about-right-mo">
                    <p class="mt-4">
                        We're sorry to inform you that there're no blood donation points in this city.
                        Please look for cities nearby.
                    </p>
                </div>
            }

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="med-blog">
                        <div class="blog-header">
                            <a href="#">
                                <img class="img-fluid" src="~/img/blood-unit.png" alt="image" width="100">
                            </a>
                        </div>
                        <div class="blog-body py-4">
                            <span>@item.Phone</span>
                            <a href="#" class="blog-title">@item.Title</a>
                            <p>@item.Address</p>
                            @if (_signInManager.IsSignedIn(User) && await _userManager.IsInRoleAsync(_userManager.GetUserAsync(User).Result, "admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //blog -->

<script>
    $(document).ready(function () {
        $('#showMapButton').click(function () {
            $('.svg-turkiye-haritasi').toggle(1000);
            $(this).text() == "Show Map" ? $(this).text("Hide Map") : $(this).text("Show Map");
        });
    });
</script>