@model IEnumerable<BloodBank.Models.Post>

@{
    ViewData["Title"] = "Donors";
}

<h1>Index</h1>

<div class="col-6" style="margin-bottom: 2%; width: 50%; float: left;">
    <input class="form-control search-bar" type="text" placeholder="Search by Title..." aria-label="Search">
</div>

<div class="col-6" style="width: 50%; float: left;">
    <select class="custom-select selection-bar">
        <option value="All" selected>All</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="0+">0+</option>
        <option value="0-">0-</option>
    </select>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-to-search">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Category)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
