@model BloodBank.ViewModels.PostIndexModel

@{
    ViewData["Title"] = "Blood Posts";
}

<a class="btn mt-sm-5 mt-4 button-style-2" asp-controller="Posts" asp-action="Create">Create Blood Post</a>

<div class="col-6 price-sty position-relative mb-5">
    <h3 class="tittle text-center text-bl mb-2">All Posts</h3>
    <span class="text-style-bot font-weight-bold">S</span>
</div>



<div class="col-6" style="margin-bottom: 2%; width: 50%; float: left;">
    <input class="form-control search-bar" type="text" placeholder="Search by description..." aria-label="Search">
</div>

<div class="col-6" style="width: 50%; float: left;">
    <select class="custom-select selection-bar">
        <option value="All" selected>All</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="0+">0+</option>
        <option value="0-">0-</option>
    </select>
</div>

<!-- grids section -->
<div class="grids-w3ovt py-5" id="what">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            @foreach (var item in Model.Posts)
            {
            <div class="col-md-4 mb-md-0 mb-5 divToSearch">
                <h6 class="top-grid-text text-uppercase"><label>(Post)</label>@item.Title</h6>
                <h3 class="grid-one-text mt-2 mb-4" id="description">@item.Description</h3>
                <p>Blood Type : <span id="bloodType">@item.BloodType</span></p>
                <p id="category">Category : @item.Category</p>
                <p id="city">City : @item.City</p>
                <p id="city">Owner : @item.Owner</p>
                @if (item.Owner.UserName == User.Identity.Name)
                {
                    <a class="btn btn-primary text-white" asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id">Blood Found</a>
                }
                @if (Model.IsDonor && item.Owner.UserName != User.Identity.Name)
                {
                    <a class="btn btn-danger text-white" asp-controller="Conversations" asp-action="Donate" asp-route-postOwnerName="@item.Owner.UserName">Donate Blood</a>
                }
            </div>
            }
        </div>
    </div>
</div>
<!-- //grids section -->
